@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #2c003e; 
  color: rgb(6, 0, 0);
  margin: 0;
  background-image: url("../img/bgcar.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0;
  color: black;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0;
}

p {
  padding: 6px 20px;
  margin: 0;
}

table {
  background-color: #530885;
  margin: 10px;
  padding: 5px;
  border: 1px solid #fbccbf;
  border-spacing: 0;
}

th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #fbccbf;
  color: #850825;
}

td {
  padding: 5px 10px;
}

a {
  color: #fbccbf;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: #730720;
}

nav a {
  text-transform: uppercase;
  padding: .5em;
  color: #fff;
}

nav a:hover {
  color: #fff;
}

.button {
  background-color: #fbccbf;
  color: #850825;
  border-color: #fbccbf;
  border-radius: 300px;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fcba63;
  color: #850825;
  border-radius: 300px;
  transition: .1s background-color linear;
}

.offer {
  text-transform: uppercase;
}

footer {
  background-color: #730720;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
